body {
    background-image: url(images/8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 800px;

}

.image-div{
    padding: 18px 23px 35px 30px;
    border-radius: 7px;
    margin-top: 6ex;
    max-width: 745px;
    margin-left: 44px;
    font-family: Courier New, monospace;
    font-weight: bold;
}


.errors {
    background-color: pink;
    opacity: 0.9;
}



.signin-label{
    font-size: 26px;
}

.registration form {
    padding: 18px 23px 35px 30px;
    border-radius: 7px;
    margin-top: 6ex;
    max-width: 745px;
    margin-left: 44px;

}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 10px);
}


.navbar {
    background-color: 	#383838;
    font-family: Courier New, monospace;
    font-weight: bold;

}

.reg-nav{
    background-color: 	#383838;
    font-family: Courier New, monospace;
    font-weight: bold;
    padding: 17px;
}


.editprofile-form{
    padding: 18px 23px 35px 30px;
    border-radius: 7px;
    margin-top: 6ex;
    max-width: 745px;
    margin-left: 44px;
}

.heading-rec{
    color: white !important;
}

.title-css{
    color: white !important;
    font-weight: bolder;
    font-size: 3em;
}

.title-css:hover{
    color: coral !important;
    background-color: white !important;
    font-size: 3em;
}

.admin-createuser{

    padding: 18px 23px 35px 30px;
    border-radius: 7px;
    margin-top: 6ex;
    max-width: 745px;
    margin-left: 44px;

}

.admin-table
{
    font-weight: bold;
    font-family: Courier New, monospace;
    font-size: 20px;
}

.admin-head{
    color: coral;
}

.admin-head-edit{
    color: bisque;
}

table{
    font-family: Courier New, monospace;
    font-weight: bold;
    width: 100%;
    border-collapse: separate;
}

table td{
    padding: 5px;
}

.nav-item{
    font-family: Courier New, monospace;
    color: white !important;
}

.color{
    color: crimson !important;
}